<div id="body_foot"><img src="/assets/0_0381f0.jpg"/></div>
<div class="foot">
<div id="foot2">
  <p><%= content("公司名称") %> 版权所有 　<a href="/admin" target="_blank">后台登录</a>　网站地图          </p>
  <p>主要产品：<%= content("主要产品") %></p>
  <p><%= content("网站备案号") %></p>
</div>
</div>
