<div id="menu">
  <div id="menu_img"><img src="/assets/0_ab3e0b.jpg"/></div>
  <div id="menu_menu">
    <ul>
      <li class="menu_1_li"><a href="/">首  页</a></li>
      <li class="menu_1_li"><a href="/about">公司简介</a></li>
      <li class="menu_1_li"><a href="/products">产品中心</a></li>
      <li class="menu_1_li"><a href="/equipment">生产设备</a></li>
      <li class="menu_1_li"><a href="/news">新闻中心</a></li>
      <li class="menu_1_li"><a href="/jobs">人才招聘</a></li>
      <!-- <li class="menu_1_li"><a href="/feedback">在线反馈</a></li> -->
      <li class="menu_1_li2"><a href="/contact">联系我们</a></li>
    </ul>
  </div>
  <div id="menu_img"><img src="/assets/0_cb7d79.jpg"/></div>
</div>